/node_modules
/public/hot
/public/storage
/public/build
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/reports
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.phpunit.result.cache
*.code-workspace